.ilustracion {
    width: 400px;
    height: 250px;
    object-fit: 100%;
    padding: 1px;
    margin: 20px;
}


.text3 {
    color: $blue;
    margin: 25px;
}

.text {
    color: $green;
    margin: 25px;
}

section h2 {
    text-align: center;
    margin: 15px;
}

